/*.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}*/
/*.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}*/

/*.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}*/

